<div ng-show="currentUser.role=='ADMIN'">
List of Blogs waiting for approval<br>
<table class="table table striped">
<thead>
<tr>
<th>Title</th>
<th>Author</th>
<th>Posted On</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="blog in blogPostsWaitingForApprovel">
<td>
<a href="#/approveblogpost/{{blog.id}}" >{{blog.blogTitle}}</a>
</td>
<td>{{blog.postedBy.username}}</td>
<td>{{blog.postedOn | date:dd-MM-YYYY}}</td>
</tr>
</tbody>
</table>
</div>
<th>
<div>
List of Blogs  approved<br>
<table class="table table striped">
<thead>
<tr>
<th>Title</th>
<th>Author</th>
<th>Posted On</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="blog in blogPostsApproved">
<td>
<a href="#/getblogpostbyid/{{blog.id}}">{{blog.blogTitle}}</a>
</td>
<td>{{blog.postedBy.username}}</td>
<td>{{blog.postedOn | date:dd-MM-YYYY}}</td>

</tr>
</tbody>
</table>
</div>


