
<div class="row">	
<div class="col-sm-3"></div>
	<div class="col-sm-6">
<a href="#/profilepic" ng-show="currentUser.username">
                    <img src="http://localhost:9002/helloworld_backend/getimage/{{currentUser.username}}" 
                     width="200px" height="200px" class="img-rounded"><br>
                    Upload profile picture
                    </a>

		
		<h3> Update your profile</h3>
		
	<form class="form-inline">
  <div class="form-group">
    <label for="username" >Username</label><br>
    <input type="text"  disabled="true" ng-model="currentUser.username" class="form-control" >
  </div>
    
  <div class="form-group">
    <label for="password">Password</label><br>
    <input type="password" disabled="true" ng-model="currentUser.password" class="form-control" >
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label><br>
    <input type="text" ng-model="currentUser.firstname" class="form-control" >
  </div>
   
  <div class="form-group">
    <label for="lastname">Last Name</label><br>
    <input type="text" ng-model="currentUser.lastname" class="form-control" >
  </div>
  <div class="form-group">
    <label for="email" >Email</label><br>
    <input type="email" ng-model="currentUser.email" class="form-control" >
 <br>
    <label for="phonenumber">Phone Number</label><br>
    <input type="text" ng-model="currentUser.phonenumber" class="form-control" >
  </div><br>
  
 <br>
 <button class="btn btn-success btn-block" type="submit" ng-click="updateUser()">Update Account</button>
</form>
	</div>
	
	</div>