.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color:#800080;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
body{
 background-color: rgb(0, 191, 255);
    color: rgb(255, 255, 255);
    padding-top:80px;
}

span.psw {
    float: right;
    padding-top:0px;
}
nav.navbar navbar-light{
	padding-top:0px;
}
.glyphicon.glyphicon-log-in {font-size: 30px;}
.btn.btn-success{font-size: 20px;}